.back {
    padding-top: 40%;
    background-image: url(media/BTS.png);
    background-size: cover;
    background-repeat: no-repeat;

    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    box-shadow: 0 10px 0 0 rgba(0, 0, 0, 0.1);



}