.glass {
    width: 100%;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    position: fixed;
    top: 0px;
}
  
.title {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.top-glass {
    width: 100%;
    top: 0px;
}
  
.top-title {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ffffff;
}


.back {
    padding: 20%;
    color: white;
    background-image: url(BTS.png);
    background-size: cover; /* Changed this line */
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.member-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.member {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    max-width: 450px; /* この幅を調整して、20文字分の幅に合わせます */
}

.member img {
    width: 80px;
    height: 80px;
    border-radius: 30%;
    margin-right: 20px;
}

.member-info {
    flex: 1;
}

.member-info span {
    font-weight: bold;
}

.member-info p {
    margin: 5px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
