.back {

    padding-top: 40%;
    color: white;
    background-image: url(media/BTS.png);
    background-size: cover;
    background-repeat: no-repeat;

    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}