.member-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.member {
    display: flex;
    align-items: center;
    max-width: 500px;
    flex-basis: 500px; /* 任意の固定幅 */
    flex-grow: 1;
}


.member img {
    margin-left: 100px;
    width: 200px;
    height: 200px;
    margin-right: 20px;
    
}



.member-info {
    flex: 1;
}

.member-info span {
    font-weight: bold;
}

.member-info p {
    margin: 5px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.member span {
    margin-left: 100px;
}