.member-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.member {
    display: flex;
    align-items: center;
    max-width: 500px;
}

.member img {
    width: 120px;
    height: 120px;
    border-radius: 0%;
    margin-right: 20px;
}

.member-info {
    flex: 1;
}

.member-info span {
    font-weight: bold;
}

.member-info p {
    margin: 5px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}